/* Base Styles */
body {
  margin: 0 auto;
  max-width: 600px;
  font-family: "Smythe", system-ui;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}
/* Typography */
h1,
h2,
h5,
p {
  margin: 0;
}

/* Layout */

main {
  margin: 0 1em;
}

/* Header */

header {
  padding: 2em;
  color: white;
  text-shadow: 5px 5px 4px red;
  background: url("images/diner.png");
  background-size: cover;
}

/* Menu Items */

.menu-item-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #d2d2d2;
  padding: 2em 0;
}

.menu-item {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1em;
}

.emoji {
  font-size: 4rem;
}

/* Menu Item Details */

.item-name {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 0.25em;
}

.item-name h5 {
  color: #8b8b8b;
}

/* Buttons */

#order-item-btn {
  border: none;
  background: none;
  padding: 0;
  font-size: 2.5rem;
  cursor: pointer;
}

#place-order-btn,
#pay-btn {
  margin-top: 0.55em;
  border: none;
  background-color: #16db99;
  width: 100%;
  padding: 1em 0;
  color: white;
  font-weight: bold;
}

#remove-item-btn {
  border: none;
  background: none;
  cursor: pointer;
  color: #bbbbbb;
  font-size: 0.6rem;
}

/* #pay-btn {
  border: none;
  width: 100%;
  background-color: #16DB99;
} */

/* Order Summary */

#order-summary {
  margin: 2em 0;
}

#order-summary h2 {
  text-align: center;
}

.order-items-container {
  border-bottom: 1px solid black;
}

.total,
.order-item {
  display: flex;
  justify-content: space-between;
}

.total {
  padding-top: 1em;
}

ul {
  padding: 0;
}

/* Form */
.order-form-container {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: auto;
  padding: 2em;
  height: 350px;
  width: 320px;
  background-color: #ffffff;
  box-shadow: 1px 1px 10px 1px #d2d2d2;
}

#order-form-users h2 {
  text-align: center;
  margin: 0 0 1em 0;
}

input {
  width: 100%;
  margin-bottom: 1em;
  padding: 1em;
}

/* Order Confirmation */
.order-complete {
  text-align: center;
  background-color: #ecfdf5;
  padding: 1.5em;
  margin: 1em 0;
}
